@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

button {
  transition: all 0.2s ease-in-out;
}
button:hover {
  transform: scale(1.05);
}
